*{
    font-family: Arial, Helvetica, sans-serif;
}
.it1{
    background-color: #00bfff;
    color: white;
    padding: 5px;
   

}
.it2{
    background-color: #fa77b7;
    color: white;
    padding: 5px;
}
.it3{
    background-color: #fba405;
    color: white;
    padding: 5px;
}